body {
    margin: 0;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #B3A696;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    justify-content: center;
    background-color: black;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 142px;
    padding: 0;
    margin: 0;
}

.navbar ul li a {
   
    text-decoration: none;
    color: beige;
    font-weight: 500;
    font-size: 1rem;
}

.button-container{
    background-color: black;
    display: flex;
    justify-content: right;
    padding-bottom: 20px;
    padding-right: 300px;
}


.start-button {
  background-color: #B3A696;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #5d5d5d;
}


/* SPLIT SCREEN */

.split-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-section {
  background-color: rgb(0, 0, 0);
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  padding: relative;
}

.bottom-section {
  background-color:#B3A696;
  flex: 1;
  padding: 0px 60px;
  position: relative;
}

/* Headings */

.left-text {
  font-size: 11rem;
  padding-left: 70px;
  font-weight: bold;
  position: absolute;
  color:#B3A696;
  bottom: -30px;
  left: 60px;
  margin: 0;
}

.right-text {
  font-size: 11rem;
  padding-right: 60px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  margin: 0;
  position: absolute;
  top: -80px;
  right: 60px;
  text-align: right;
}


.tagline{
   position: absolute;
   top: 80px;
   width: 100%;
   padding: 0 60px;
}


.right-tagline {
  text-align: right;
  padding-right: 480px;
  padding-top: 50px;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  color: black;
}

.left-subtagline {
  text-align: left;
  padding-left: 720px;
  margin: 5px 0 0 0;
  font-size: 1rem;
  font-weight: normal;
  color: black;
}


.description {
    margin-top: 180px;
    font-size: 0.95rem;
    max-width: 400px;
    color: black;
}

